<div aria-live="polite" class="datepicker-selected-date sr-only"></div>
<table role="grid">
  <thead>
    <tr>
      <th>
        <button type="button"
          class="btn btn-default btn-sm pull-left uib-left"
          ng-click="move(-1)"
          ng-enter="move(-1)"
          ng-select="move(-1)"
          tab
          index="0">
          <i aria-hidden="true"
            class="glyphicon glyphicon-chevron-left"></i>
          <span class="sr-only">previous</span>
        </button>
      </th>
      <th colspan="{{::5 + showWeeks}}">
        <button id="{{::uniqueId}}-title"
          role="heading"
          type="button"
          class="btn btn-default btn-sm uib-title"
          ng-click="toggleMode()"
          ng-enter="toggleMode()"
          ng-select="toggleMode()"
          ng-disabled="datepickerMode === maxMode"
          tabindex="0">
          <strong>{{title}}</strong>
        </button>
      </th>
      <th>
        <button type="button"
          class="btn btn-default btn-sm pull-right uib-right"
          ng-click="move(1)"
          ng-enter="move(1)"
          ng-select="move(1)"
          tabindex="0">
          <i aria-hidden="true" class="glyphicon glyphicon-chevron-right"></i>
          <span class="sr-only">next</span>
        </button>
      </th>
    </tr>
    <tr>
      <th ng-if="showWeeks" class="text-center"></th>
      <th ng-repeat="label in ::labels track by $index" class="text-center" aria-label="{{::label.full}}">
        <small aria-hidden="true">{{::label.abbr}}</small>
      </th>
    </tr>
  </thead>
  <tbody role="radiogroup">
    <tr class="uib-weeks"
      ng-repeat="row in rows track by $index">
      <td ng-if="showWeeks" class="text-center h6">
        <em>{{ weekNumbers[$index] }}</em>
      </td>
      <td ng-repeat="dt in row"
        class="uib-day text-center"
        id="{{::dt.uid}}"
        ng-class="::dt.customClass">
        <button 
          type="button"
          class="btn btn-default btn-sm btn-date"
          uib-is-class="
              'btn-info' for selectedDt,
              'active' for activeDt
              on dt"
          ng-click="select(dt.date)"
          ng-enter="select(dt.date)"
          ng-select="select(dt.date)"
          ng-disabled="::dt.disabled"
          tabindex="0"
          role="radio"
          aria-checked="{{dt.selected ? 'true' : 'false'}}"
          aria-label="{{:: moment(dt.date).startOf('month').add(dt.label - 1,'days').format('dddd Do MMMM') }}">
          <span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">{{::dt.label}}</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
